<header class="site-header glass-shell">
  <nav class="container" aria-label="Primary navigation">
    <a href="/" class="logo logo-link">OGC<span class="blink">_</span></a>
    <ul class="nav-links">
      <li><a href="/#about">Mission</a></li>
      <li><a href="/#members">Collective</a></li>
      <li><a href="/#projects">Tech</a></li>
      <li><a href="/#downloads">Downloads</a></li>
      <li>
        <a href="/governance">
          Governance
        </a>
      </li>
    </ul>
  </nav>
</header>
