---
interface Props {
  id?: string;
  title: string;
  lead?: string;
}

const { id, title, lead } = Astro.props;
---

<section id={id}>
  <h2 class="section-title">{title}</h2>
  {lead && <p class="lead-text">{lead}</p>}
  <slot />
</section>
